<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Form show</title>
</head>
<body>
    {% if messages %}
<ul class="messages">    
    {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
</ul>
{% endif %}
    <h1>Edit Show {{showid}}</h1>
    <form action="donedit" method="POST">
        {% csrf_token %}
        <label for="labeltitle">Title</label><br>
        <input type="text" name="showtitle" id="title"><br>
        <label for="network">Network</label>
        <input type="text" name="network" id="network">
        <label for="releasedate">Release Date</label>
        <input type="date" name="releasedate" id="releasedate"><br>
        <label for="desc">Description</label><br>
        <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
        <input type="submit" value="update">
        <a href="/showtv/{{showid}}">Back</a>


    </form>
</body>
</html>