<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>TV Show {{showid}}</h1>
    <p>Title : {{showtitle}}</p>
    <p>Release Date : {{showreles}}</p>
    <p>Description: {{showdesc}}</p>
    <a href="/shows">back</a>
    <p>Last Updated : {{showreles}}</p>
    <a href="{{showid}}/edit">Edit</a>| <a href="{{showid}}/destroy">Delete</a>
</body>
</html>