<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <table >
        <tr>
        <th>Firstname</th>
        <th>Lastname</th> 
        </tr>
        {%for i in users%}
        <td>{{i['first_name']}}</td>
        <td>{{i['last_name']}}</td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>