<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>{{firstname}} {{lastname}}</h1>
    <p>ID : {{authorid}}</p>
    <p>Note : {{authornote}}</p>
    <h2>Books</h2>
    {%for i in authours_show%}
    <ul>
        <li>{{i.title}}</li>
    </ul>
    {%endfor%}
    <form action="{{authorid}}/addbookauthor" method="POST">
    {% csrf_token %}
    <select name="showbook">
        {%for i in dropdwnauthors%}
        <option value="{{i.id}}">{{i.title}}</option>
        {%endfor%}
    </select>
    <input type="submit" value="Add to Book">
    </form>
</body>
</html>