<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    
    <conrinar style="display: flex;">
        
    <div class="AddDojo">
    <h1>Add a Dojo</h1>
    <form action="adddojo" method="POST">
        {% csrf_token %}
        Name    <input type="text" name="name"><br>
        City    <input type="text" name="city"><br>
        State   <input type="text" name="state"><br>
                <input type="submit" value="Add" style="margin-left: 50px;margin-top: 10px;">
    </form>
    </div>
    <div class="AddNinja" style="margin-left: 100px;">
        
        <h1>Add a Ninja</h1>
        <form action="addninja" method="POST">
            {% csrf_token %}
        First Name <input type="text" name="firstname"><br>
        Last Name <input type="text" name="lastname"><br>
        Dojo <select name="dojo" id="dojo"><br>
            {%for i in  dojonames %}
            <option value="{{i.name}}">{{i.name}}</option>
            {%endfor%}
        </select><br>
        <input type="submit" value="Add" style="margin-left: 50px;margin-top: 10px;">
    </form>
    </div>
</conrinar>
<hr>
    <div style="display:inline-block;margin-left: 100px;align-items: center;text-align: center;">
    <h1>All the Dojos</h1>
    {%for i in  dojos %}
    <h2>Ninjas at the {{i.name}} Dojo</h2>
    <ul>
        {%for j in ninjas%}
        {%if j.dojo.name == i.name%}
        <li>{{j.first_name }}  {{j.last_name}}</li>
        {%endif%}
    </ul>
    {%endfor%}
    {%endfor%}
    
</div>
</body>
</html>