<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%if num > secret_number %}
    <div>
        <p>Too Hight</p>
        
    </div>
    {%elif num == secret_number%}
    <div>
        <p>correct !</p>
        
    </div>
    {%else%}
    <div>
        <p>Too Low</p>
    </div>
    {%endif%}
</body>
</html>