<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3> Submited info </h3><br> <br>
    <p> name :   {{name}}</p>
    <p>Dojco Location : {{location}}</p>
    <p>Language : {{lang}} </p>
    <p> Comment : {{comment}}</p>

    <form action='/' method='post'>
        <input type='submit' value='Go back'>
    </form>

</body>
</html>